.actor {
  color: #fff;

  img {
    width: 190px;
    height: auto;
    @media screen and(max-width:840px) {
      max-width: 100%;
      width: 55%;
    }
  }
  &__data {
    max-width: 300px;
    width: 60%;
    background-color: #353535;
    @media screen and(max-width:840px) {
      max-width: 100%;
      width: 100%;
    }

    &__name {
      font-family: "Abel", sans-serif;
      font-size: 22px;
      margin: 10px 20px;
      font-weight: 300;
    }
    &__movie_character {
      font-family: "Abel", sans-serif;
      font-size: 18px;
      margin: 0 20px 10px;
    }
  }
}
