.movies {
  &__form {
    @media screen and(max-width:648px) {
      height: 100%;
      padding: 10px 20px;
    }
    background-color: #1c1c1c;
    padding: 25px 20px 0;
    height: 105px;
    font-size: 48px;
    &__content {
      margin: 0 auto;
      position: relative;
      i {
        @media screen and(max-width:648px) {
          left: 10px !important;
          font-size: 25px;
          top: 7px;
        }
        color: white;
        font-size: 31px;
        position: absolute;
        left: 20px;
        // top: 3px;
        z-index: 50;
      }
    }
  }
  &__grid {
    &__heading {
      @media screen and(max-width:648px) {
        padding: 15px;
      }
      padding: 30px 0;
      font-size: 42px;
    }

    &__container {
      @media screen and(max-width:559px) {
        justify-content: center;
      }
    }
  }
  &__search {
    @media screen and(max-width:648px) {
      height: 100%;
      padding: 0;
      padding-left: 50px;
      font-size: 30px;
    }
    border: none;
    height: 55px;
    border-radius: 40px;
    color: #fff;
    background-color: #353535;
    padding-left: 70px;
  }

  &__container {
  }
}

//BUTTON TO LOAD MORE MOVIES
.load-more-button {
  color: #fff;
  padding: 20px;
  margin: 60px 0;
  width: 100%;
  font-size: 42px;
  background-color: #16d47b;
  &:hover {
    background-color: #23ed8e;
  }
}
