.movie {
  @media screen and(max-width:559px) {
    max-width: 100%;
    width: 90%;
    max-height: 100%;
  }
  display: inline-block;
  max-width: 280px;
  max-height: 435px;
  margin-top: 20px;
  img {
    @media screen and(max-width:559px) {
      width: 100%;
      display: block;
      height: auto;
    }
    height: 100%;
    width: 100%;
  }
}
