// *:not(path):not(g) {
//   color: hsla(210, 100%, 100%, 0.9) !important;
//   background: hsla(210, 100%, 50%, 0.5) !important;
//   outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

//   box-shadow: none !important;
// }

.movie__info {
  &__header {
    padding-top: 40px;

    @media screen and(max-width:840px) {
      height: 100%;
      padding-top: 0;
    }

    &__content {
      font-family: "Abel", sans-serif;
      color: #fff;
      height: 520px;
      // padding: 40px 20px;
      margin: 0 auto;

      margin-left: auto;
      margin-right: auto;

      background: rgba(black, 0.5);

      img {
        //max-height: 525px;
        height: auto;
        max-width: 350px;
        @media screen and(max-width:840px) {
          padding-top: 10px;
          max-width: 100%;
          display: block;
          height: auto;
        }
      }
      div {
        padding: 15px 40px;
        @media screen and(max-width:840px) {
          padding: 10px;
          text-align: justify;
        }
        h1 {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 43px;
          @media screen and(max-width:840px) {
            font-size: 30px;
            text-align: center;
          }
        }
        h3 {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 16px;
          margin-top: 25px;
          font-weight: bold;
        }

        h4 {
          font-family: Arial, Helvetica, sans-serif;
          margin: 21px 0;
        }
        p {
          font-size: 18px;
          line-height: 26px;
          margin: 18px 0;
        }
      }

      ul {
        list-style: none;
        flex-wrap: wrap;
        @media screen and(max-width:840px) {
          justify-content: center;
        }
        li {
          margin-right: 20px;
          font-size: 18px;
        }
      }
      @media screen and(max-width:1024px) {
        max-width: 100%;
        img {
          height: auto;
        }
      }
      @media screen and(max-width:840px) {
        flex-direction: column;
        align-items: center;
        height: 100%;
      }

      @media screen and(max-width:425px) {
      }

      //end-content
    }
  }
}

.director-heading {
  margin-top: 5px !important;
}

.movie__rating {
  padding: 0 !important;

  meter {
    @media screen and(max-width:840px) {
      width: 100%;
    }
    width: 250px;
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
    // border-radius: 0;
    -webkit-user-modify: read-only !important;

    &::-webkit-meter-bar {
      background: #fff;
      border: 0;
    }
  }
}

.movie__infobar {
  background-color: #1c1c1c;
  padding: 25px 20px 0;
  height: 105px;
  font-size: 48px;

  @media screen and(max-width:840px) {
    height: 100%;
    padding: 5px;
  }
  &__container {
    margin: 0 auto;
    color: #fff;
    font-size: 22px;
    @media screen and(max-width:840px) {
      font-size: 18px;
    }
    @media screen and(max-width:590px) {
      font-size: 18px;
      flex-direction: column;
      width: 70%;
      justify-content: baseline;
    }

    div {
      display: flex;
      align-items: center;
    }
    i {
      padding-right: 10px;
      font-size: 50px;
      @media screen and(max-width:840px) {
        font-size: 18px;
      }
    }
  }
}

// ***********************************ACTORS SECTION ****************************************

.actors {
  h1 {
    @media screen and(max-width:840px) {
      padding: 15px;
    }
    font-size: 41px;
    padding: 30px;
  }
  &__container {
    display: grid;
    grid-template-rows: repeat(4, minmax(190px, 267px));
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-gap: 40px;
    @media screen and(max-width:1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and(max-width:840px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
    }
    @media screen and(max-width:582px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
// *********************SPINER ON LOAD **********************
.spinner-backdrop {
  position: absolute;

  z-index: 100;
  background: rgba(black, 0.9);
  width: 100%;
  height: 100%;
}
.spinner-on-load {
  z-index: 101;
}
