.navbar {
  @media screen and(max-width:1296px) {
    padding: 0 10px;
  }
  background-color: #1c1c1c;

  &__container {
    @media screen and(max-width:1024px) {
      padding: 5px 0;
      min-height: 100%;
    }
    max-width: 1280px;
    padding: 20px 0;
    min-height: 120px;

    a {
      height: 100%;
    }
  }
  &__img1 {
    width: 300px;
    height: 50px;
    @media screen and(max-width:1024px) {
      max-width: 80%;
      display: block;
      height: auto;
    }
  }
  &__img2 {
    @media screen and(max-width:1024px) {
      max-width: 80%;
      display: block;
      height: 80%;
    }
    width: 122px;
    height: 50px;
  }
  &__img1,
  &__img2 {
    @media screen and(max-width:1024px) {
      padding: 7px 5px;
      margin-top: 0;
    }
    margin-top: 20px;
  }
}
